.element__heart-icon{
  background-image: url(../../../images/element__heart-icon.svg);
  background-position: 100% auto;
  width: 22px;
  height: 19px;
  transition: 0.3s;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

.element__heart-icon:hover{
  opacity: 50%;
  cursor: pointer;
}
