.popup__input{
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 358px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  color: black;
  outline:none;
  font-size: 14px;
  line-height: 1.21;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  padding-bottom: 13px;
  
}

.popup__input:last-of-type{
  margin-top: 30px;
}

@media screen and (max-width: 900px) {
  .popup__input{
    max-width: 238px;
  }
  
} 