.popup_type_picture__container{
  max-width: fit-content;
  height: fit-content;
  box-sizing: border-box;
  opacity: 1;
  z-index: 2;
  flex-direction: column;
  margin: auto;
  align-self: center;
  position: relative;
}

