.element__delite-button{
  background-image: url(../../../images/element__delite-button.svg);
  width: 18px;
  height: 19.3px;
  position: absolute;
  top: 18px;
  right: 18px;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  outline: none;
}

.element__delite-button:hover{
    opacity: 50%;
    cursor: pointer;
  }
